header .container-fluid .navbar-brand {
  font-size: 30px;
  font-weight: 500;
}

header .container-fluid .collapse ul li a {
  margin-left: 20px;
  font-weight: 600;
  font-size: 17px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

header .container-fluid .collapse ul li a:hover {
  color: black;
}

header .container-fluid .collapse ul li a:hover::before {
  width: 82%;
}

header .container-fluid .collapse ul li a::before {
  content: "";
  height: 5%;
  width: 0%;
  left: 8px;
  bottom: 10px;
  background-color: #af2b2b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}

header .container-fluid .collapse .btn {
  border-radius: 19px;
}

#healthyFood {
  background-color: #eeeeee;
}

#healthyFood .container .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#healthyFood .container .row .col-md-4 .enjoy-modal a {
  color: #2b2929;
}

#healthyFood .container .row .col-md-4 .enjoy-modal a i {
  padding: 7px 7px 7px 9px;
  font-size: 12px;
}

#aboutUs .content .image {
  padding-top: 30px;
  position: relative;
}

#aboutUs .content .image img {
  width: 100%;
  height: 100%;
}

#aboutUs .content .image .contact {
  width: 500px;
  height: 100px;
  background-color: white;
  position: absolute;
  left: 150px;
  bottom: 100px;
  font-size: 25px;
  text-align: center;
}

#aboutUs .content .context .text ul li {
  list-style-type: none;
}

#Chefs {
  background-color: #eeeeee;
}

#Chefs .headerTitle {
  margin-top: 20px;
  padding-top: 30px;
}

#contactUs .headerTitle {
  padding-top: 30px;
  padding-bottom: 15px;
}

#contactUs .contact .contactCard {
  background-color: #eeeeee;
  margin: 15px;
  height: 100px;
}

#contactUs .contact .contactCard .icon {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  margin: 13px;
}

#contactUs .contact .contactCard .icon i {
  font-size: 25px;
  margin: auto;
  margin-top: 20px;
  color: white;
}

#contactUs .contact .contactCard .titles {
  text-align: start;
  color: #4d4d4d;
  padding-top: 20px;
  font-size: 20px;
}

#contactUs .form .btn {
  border-radius: 19px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #222222;
}

footer .lapFooter ul {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .lapFooter ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .lapFooter ul li .icon {
  color: white;
  font-size: 17px;
  margin-right: 4px;
}

footer .lapFooter ul li .content {
  text-align: start;
}

footer .lapFooter ul li .content .title h3 {
  font-size: 17px;
  color: white;
}

footer .lapFooter ul li .content .subtitle {
  color: white;
}

footer .lapFooter ul li .content .icons {
  color: white;
}

footer .lapFooter ul li .content .icons i {
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
}

footer .lapFooter .copyright {
  width: 100%;
}

footer .lapFooter .copyright .text {
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */